@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f5f2eb;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background: #e6ddcf;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

    .wrapper .title {
        width: 100%;
        background: #7a4eab;
        border-radius: 5px 5px 0 0;
        color: white;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding: 20px;
    }

    .wrapper form {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 30px;
    }

.row {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

    .row input {
        width: 100%;
        padding: 10px 10px 10px 40px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        font-size: 16px;
    }

    .row i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: #7a4eab;
        color: white;
        padding: 8px;
        border-radius: 5px;
        font-size: 14px;
    }

.button input {
    margin-top: 20px;
    width: 100%;
    background: #7a4eab;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

    .button input:hover {
        background: #623e8f;
    }

.alert {
    margin-top: 15px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}
